        body>.container:first {
            min-height: 1500px;
        }

        body .container .numbers-row div.dc-chart {
            float: left;
        }

        body .container .numbers-row div {
            padding: 30px 20px;
        }